
<table cellpadding="0" cellspacing="0" border="0" class="fluid" align="center">
    <tr>
        <td class="spacer-taller">&nbsp;</td>
    </tr>
    <tr>
        <td>
            Address Details Here
        </td>
    </tr>
    <tr>
        <td class="spacer-taller"></td>
    </tr>
</table>