
<table class="fluid unsubscribe" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td>This was sent to you from [Company]. If this communication reached you in error or you no longer wish to receive periodic news and offers from [Company] you can <unsubscribe>click here to unsubscribe from our mailing list</unsubscribe>.</td>
        <td class="gutter"></td>
        <td class="unsub-logo"><a href="http://www.send.ie/"><img class="sendie" src="http://www.send.ie/assets/email/sendie-grey.png" cm_dontimportimage /></a></td>
    </tr>
    <tr>
        <td class="spacer"></td>
    </tr>
</table>