<table class="fluid article" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<table class="fluid" dir="rtl" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="article-image-left" valign="top" dir="ltr"><img editable label="Article Image" width="315px" class="mimg right-img"></td>
					<td class="gutter" dir="ltr"></td>
					<td valign="top" dir="ltr">
						<table class="fluid" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td><h2><singleline label="Article Title">Article Title</singleline></h2></td>
							</tr>
							<tr>
								<td><multiline label="Article Body">Article Body</multiline></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="spacer"></td>
	</tr>
</table>